<footer class="footer">
  <div class="container">
   <div class="footer__box">
      <h2 class="footer__title">
        Contacts
      </h2>

      <ul class="footer__list">
        <li class="footer__item">
          <span>Telephone:</span>
          +1 (123) 456-7890
        </li>
        <li class="footer__item">
          <span>Office hours:</span>
          Mon–Sat from 9:00 to 19:00 <br>
          In touch with clients 24/7
        </li>
        <li class="footer__item">
          <span>Address:</span>
          Main Street, New York, NY 10001
        </li>
      </ul>

    <div class="footer__bottom">
      <div class="footer__logo-box">
        <a class="logo" href="#!">
          <img src="./images/logo-black.svg" alt="logotype" width="345" height="44">
        </a>
      </div>

      <button class="btn">
        Order a consultation
      </button>
    </div>
   </div>
  </div>
</footer>

<script src="js/main.min.js"></script>
</body>

</html>
